.contenedor{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.card {
    width: 300px;
    max-height: 1000px;
    background-color: white;
    padding: 1rem;
    margin: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 10px #74ACDF;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 10px 10px 10px #74ACDF;
    scale: 1.03;
    transition-duration: 0.5s;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card-img{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto 0;
}


/*#74ACDF celeste #FFFFFF #FBC02D= amarillo #A67B5B marron osc #D8C3A5 marron claro #1565C0 azul*/