.CartContainer {
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #74ACDF;
    margin: 5rem auto;
    padding: 3rem 0rem 1rem 0;
    gap: 2rem;
}

.itemCartContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    gap: 1rem;
}

.itemCart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
    height: 200px;
    border-radius: 50px;
    background-color: #D8C3A5;
}

.itemCart-img {
    width: 130px;
}

.itemCart-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-left: 20px;
    gap: 5px;
}