@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon {
  position: fixed;
  top: 50%;
  font-size: 2rem;
  font-weight: 400;
  animation: girar 1.5s linear infinite;
}