.container-nav {
    display: flex;
    background-color: #74ACDF;
    background-image: linear-gradient(#74ACDF, #b3daff, #74ACDF);
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-img {
    border-radius: 50%;
    height: auto;
    width: 60px;
    aspect-ratio: 1/1;
    flex: 1;
}

.nav-img:hover {
    scale: 1.05;
    transition-duration: 0.2s;
}

.nav-a {
    color: #1565C0;
    font-size: 1.3rem;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
}

.nav-a.active {
    background-color: #74ACDF;
}

.nav-link {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex: 1;
}

.nav-a :hover {
    text-shadow: 2px 2px 2px #2a41576b;
    scale: 1.1;
    transition-duration: 0.2s;
}



/*#74ACDF celeste #FFFFFF #FBC02D= amarillo #A67B5B marron osc #D8C3A5 marron claro #1565C0 azul*/